<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.js.apibo.goods.mapper.GoodsBaseMapper">
    <select id="getGoodsList">
        SELECT /* GoodsMapper.getGoodsList */
               GOODS_NO
             , GOODS_NAME
             , GOODS_DESC
             , SYS_REG_DTM
             , SYS_REG_ID
          FROM GOODS_BASE
    </select>

    <select id="getGoodsDetail" parameterType="String">
        SELECT /* GoodsMapper.getGoodsDetail */
               GOODS_NO
             , GOODS_NAME
             , GOODS_DESC
             , SYS_REG_DTM
             , SYS_REG_ID
          FROM GOODS_BASE
         WHERE GOODS_NO = #{goodsNo}
    </select>
</mapper>